<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>my-site</title>

        <script type="text/javascript">
            var linkStyle = document.createElement('link');
            var linkScript = document.createElement('script');
            var jQuery = document.createElement('script');
            
            if(window.location.href == "https://derouichemedaziz.github.io/my-site/"){
                linkStyle.setAttribute('rel', 'stylesheet');
                linkStyle.setAttribute('href', '//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
                linkScript.setAttribute('src','//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js');
                jQuery.setAttribute('src', '//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js');
                document.head.appendChild(linkStyle);
                document.head.appendChild(linkScript);
                document.head.appendChild(jQuery);
            }
            else{
                linkStyle.setAttribute('rel', 'stylesheet');
                linkStyle.setAttribute('href', 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
                linkScript.setAttribute('src','https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js');
                jQuery.setAttribute('src', 'http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js');
                document.head.appendChild(linkStyle);
                document.head.appendChild(linkScript);
                document.head.appendChild(jQuery);
            }
        </script>
        <!-- Bootstrap CSS -->
        

        <!-- Bootstrap jQuery library -->
        
        <!-- jQuery Plugin : color animation 1.6.0 -->

        <!-- Bootstrap JavaScript -->
        
        
        <!-- Font Awesome CSS library -->
        
        <!-- The main stylesheet file -->
        <link type="text/css" rel="stylesheet" href="{{site.baseurl}}/css/style.css">
        
        <!-- The main Javascript -->
        <script type="text/javascript" src=""></script>
        
    </head>
    <body>
        <header>
            <h1>My site</h1>
            {% include nav.html navclass='nav-top' %}
        </header>
        
        {{content}}
        
        <footer>
            {% include nav.html navclass='nav-bottom' %}
            {% include contact.html %}
            <h5>Copy right (c) - 2016</h5>
        </footer>
    </body>
</html>